@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0 }
body, input, textarea, select, button, table { font-size:14px; line-height:1.25em; font-family:'나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem; }
html, body { height: 100%; padding:0; margin:0; }
img, fieldset { border:0 }
ul, ol { list-style:none }
em, address { font-style:normal }
a { text-decoration:none }
a:hover, a:active, a:focus { text-decoration:underline }

#main {
	position:relative;
}

#menu_list {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#menu_list:after {
	display: block;
	content:'';
	clear:both;
}

.menu {
	display: inline-block;
    width: 24.6%;
    border: 1px solid #ddd;
    text-align: center;
    word-wrap: break-word;
    line-height: 78px;
    box-sizing: border-box;
    color: #ddd;
    margin: .2%;
    font-size: 18px;

}
.soldout { text-decoration: line-through; cursor: not-allowed;}


#order {          
    position: relative;
    margin: 10px 0;
    display: flex;
    padding-top: 160px;
    padding-bottom: 12px; 
}

#order_screen {         
    position: relative;
    width: 49.6%;
    height: 80px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    border: 1px solid gainsboro;
    margin-right: 0.4%;
    margin-left: 0.2%;
}

#order_button {
	position: relative;
    width: 24.6%;
    height: 80px;
    display: inline-block;
    outline: none;
    margin-right: 0.4%;
    background: gray;
    border: none;
    color: white;
    font-size:16px;
    cursor: pointer;
}

#reset_button {
	position: relative;
    width: 24.8%;
    height: 80px;
    display: inline-block;
    outline: none;
    margin-right: 0.2%;
    background: gray;
    border: none;
    color: white;
    font-size:16px;
    cursor:pointer;
}

.orderItem {
    position: relative;
    margin-bottom: 5px;
}

.modifyOrder {
    background-color: black;
    color: white;
    border-radius: 100px;
    width: 17px;
    height: 17px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}

#account { position:relative; }
.cash {         
    position: relative;
    width: 19.6%;
    margin: 0 .2% 8px;
    background-color: gainsboro;
    text-align: center;
    cursor:pointer;
    vertical-align: middle;
    line-height: 60px;
}
#cash_list {     position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;}
#currrent_cash { 
        padding: 15px 6px;
    color: black; }
#wallet {     border: none; }

@media only screen and (max-width: 400px) {
    .menu { font-size: 12px; }
    #order_button { font-size : 10px; }
    #reset_button { font-size : 10px; }
    .menu { line-height: 40px; }
    #order { padding-top: 0; }
    .cash { font-size: 10px; }
}

@media only screen and (max-width: 640px) {
    .menu { width : 49.6%; }
    .soldout {
        order: 1;
    }
}
